{% extends "base.html" %}

{% load static %}

{% block title %}Set Password || Milimani High School{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

      <main id="main" class="main">

          <!--Page title-->
          <div class="pagetitle">
              <h1>Set Password</h1>
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href='{% url "dashboard" %}'>Home</a></li>
                  <li class="breadcrumb-item">Reset Password</li>
                  <li class="breadcrumb-item active">Set Password</li>
                </ol>
              </nav>
            </div><!-- End Page Title -->
        
            <!--Dashboard section-->
            <div class="container">

              <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        
                      <div class="card mb-3" data-aos="fade-up" data-aos-delay="100">
        
                        <div class="card-body">
        
                          <div class="pt-4 pb-2">
                            <p class="text-center small">Reset password for {{username}}</p>
                          </div>
        
                          <form class="row g-3 needs-validation" action='' method='post'>
                            {% csrf_token %}
                            {{ password_form}}
                            <div class="col-12">
                              <button class="btn btn-primary w-100" type="submit">Reset Password</button>
                            </div>
                          </form>
        
                        </div>
                      </div>
        
                    </div>
                  </div>
                </div>
        
              </section>
        
            </div>

      </main><!--End #main-->

      <!-- ======= Footer ======= -->
      <footer id="footer" class="footer">
          <div class="copyright">
              &copy; Copyright <strong><span>Milimani High School</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by Milimani High ICT
          </div>
      </footer><!-- End Footer -->
      
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


{% else %}

        <!--error Section-->
        <section id="error" class="error d-flex align-items-center">
            
            <div class="error-info" data-aos="fade-down" data-aos-delay="300">
                <h1>404</h1>
                <p>Oops! you are on the wrong way buddy.</p>
                <div class="logo">
                    <img src="{% static 'img/IMG_5688-Edit.png' %}" alt="Milimani High School">
                </div>
                <h2>Milimani High School</h2>
            </div>

        </section><!--End login section-->

{% endif %}

{% endblock content %}